/* Filter : https://codepen.io/sosuke/pen/Pjoqqp */
.color-logo {
    filter: invert(60%) sepia(12%) saturate(902%) hue-rotate(100deg) brightness(95%) contrast(96%);
}

.btn-drawer::before {
    display: none;
}

.logo::before {
    display: none;
}